.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  position: relative;
  direction: rtl;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 0;
  margin-left: 240px;
  margin-right: 0;
  background: transparent;
  border-left: none;
  width: calc(100vw - 240px);
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.main-content::-webkit-scrollbar {
  display: none;
}

